<!DOCTYPE html>
<html>
<head>
  <title>AdventureWorks.Ruby</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="scallfold_body">
    <%= yield %>
  </div>
</body>
</html>
